.bag-page {
  width: 75%;
  margin: 32px auto;
  display: flex;
  gap: 20px;
}

.bag-items-container {
  flex: 2;
  padding-right: 20px;
  border-right: 1px solid #eaeaec;
  color: #282c3f;
  font-size: 13px;
}

.bag-summary {
  flex: 1;
  padding-left: 16px;
  color: #282c3f;
  font-size: 13px;
}

.bag-item-container {
  margin-bottom: 8px;
  background: #fff;
  border: 1px solid #eaeaec;
  border-radius: 4px;
  display: flex;
  padding: 12px;
  gap: 16px;
  position: relative;
}

.bag-item-img {
  width: 120px;
  height: 160px;
  object-fit: cover;
  background-color: #ffe8c6;
}

.item-right-part {
  flex-grow: 1;
}

.remove-from-cart {
  position: absolute;
  top: 10px;
  right: 18px;
  font-size: 20px;
  cursor: pointer;
  color: #ff3f6c;
}

.price-item {
  margin-bottom: 12px;
  line-height: 16px;
  font-size: 14px;
}

.price-item-value {
  float: right;
}

.price-footer {
  font-weight: 700;
  font-size: 15px;
  padding-top: 16px;
  border-top: 1px solid #eaeaec;
}

.priceDetail-base-discount {
  color: #03a685;
}

.btn-place-order {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  font-weight: bold;
  background-color: #ff3f6c;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-place-order:hover {
  background-color: #e91e63;
}
